@font-face {
  font-family: "XCharter";
  font-style: normal;
  src: url("fonts/XCharter-Roman.otf") format("opentype"),
    url("fonts/XCharter-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: 200, 400; /* Corresponding font weights for the Regular and Bold styles */
}

body {
  font-family: "XCharter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  min-height: 100%;
  background-color: #f7f7f5;
}

.Title {
  font-family: "XCharter", serif; /* Apply XCharter font to the title */
  text-align: center;
  font-weight:light;
  margin-bottom: 8px;
  font-size: 48px;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1em;
}

.header {
  max-width: 790px;
  width:100%;
}

.project-description {
  text-align: left;
  text-transform: uppercase;
  margin-bottom:0.5em;
  font-size:14pt;
}

.intro {
  margin-bottom:1em;
  font-style:italic;
  color: #95948a;  
}

.container-top {
  max-width: 790px;
  width: 100%;
  margin-bottom: 1em;
}

.container-top p {
  font-size: 14px;
  line-height: 1em;
  font-weight: lighter;
  margin-bottom: 0.2em;
}

.container-mid {
  width:790px;
  margin-bottom: 1em;
}

.container-mid p {
  margin-top: 0em;

}

.centered-hr {
  width: 100%;
  height: 1px;
  margin-bottom: 0.3em;
  background-color: black;
}

.tab-container {
    display: flex;
}

.tab {
    cursor: pointer;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    text-align: left !important;
}

.tab-content {
    display: none;
    text-align: justify; /* Justify the text on both sides */
    text-justify: inter-word; 
}

.Abstract {
    font-weight: bold;
    font-size: 18pt;
}

.tab.active {
    background-color: #000000;
    color: #FFF;
}

.tab.active + .tab-content {
    display: block;
}

.image-container {
  text-align: center;
}




/*CSS for TABLES*/
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}


/*CSS for DELIVERABLEs*/
.pdf-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pdf-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.view-pdf-button {
  display: block;
  margin-top: 10px;
  background-color: #0074D9;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.view-pdf-button:hover {
  background-color: #0056b3;
}
